body {
	background-color: #96BDDD;
	padding: 0px;
	margin: 0px;
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
	background-color: #96BDDD;
}

#banner , #letter{
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.white_bg {
	background-color: white;
}

.block_row {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#parent {
	background-color: #96BDDD;
	padding: 10px;
	margin: 10px;
	color: white;
}


#pm_letter{
	padding-top:50px;
	font-size: 112%;
	padding-top: 50px;
	margin-bottom: 10px;
}

#pm_letter p {
	padding-left:20px;
	padding-right:20px;
	margin-left:20px;
	margin-right:20px;
	padding-bottom: 15px;
}

#pm_letter ol {
	padding-left:50px;
	padding-right:50px;
	margin-left:30px;
	margin-right:20px;
}

#pm_letter li {
	padding-bottom: 10px;
}

#banner img{
	padding:0px;
}

#contentWhite {
	padding-top:10px;
	padding-bottom:10px;
}

h1, h2, h3 {
	text-transform:uppercase;
	font-family: TheMixSemiBold, Arial, sans-serif;
}

h1 {
	color: #0A90C7;
	padding-top: 33px;
	font-size: 65px;
}

h2 {
	color: white;
	font-size:1.5em;
	padding:20px;
}

h3 {
	font-size:1.5em;
}

#parent p, h3 {
	padding-left:10px;
}

.vertical h2{
	font-size:0.85em;
}

.contact_btn {
	color: white;
	margin-top: 10px;
}

.btns {
	margin-bottom: 10px;
}

img#ayden {
	padding: 10px;
}
.first{
	margin-left:0px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

ul.vertical {
	marin-left: 0;
}

ul.vertical li {
	list-style-type:none;
	margin-top: 10px;
}

.white_bg p {
/*	margin-left: 10px;*/
	margin-right: 10px;
	margin-top: 10px;
}

.contact_btn, .h2_blue {
	background: #0A90C7;
}
.ctr {
	text-align:center;
}

.right {
	float:right;
}	

.h2_blue, .nested {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
/*	padding-left: 2px;
	margin-left: 2px;*/
}

.sun_red {
	background: #ED2024;
}

#sun_logo {
	padding-top: 23px;
	padding-bottom: 33px;
}

#bb_logo img{
	padding: 10px;
}

.caveat {
	background-image:url(http://www.thefutureyou.org.uk/static/images/collected_sprite.png);
	background-position:initial initial;
	background-repeat:no-repeat no-repeat;
	color:#333333;  /* GREY */
	float:right;
	font-size:0.7em;
	height:50px;
	line-height:1.3em;
	margin-top:10px;
	padding-left:70px;
	width:261px;
	margin-bottom: 10px;
}

.caveat p {
	color:black; 
}
.caveat a:link {
	text-decoration:none;
}
/*
#home #nav-home,
body#corporate a#nav-corporate,
body#justice a#nav-justice,
body#community a#nav-community,
body#online a#nav-online,
body#family a#nav-family,
li .active{
	background-color: yellow;
}
*/

.red {
	color: red;
}

.gap_below {
	padding-bottom: 20px;
}