{% macro form_field(field, label=None) %}
  <div class="field{% if field.errors %} has_errors{% endif %}">
    {{ field_label(field, label) }}
    {{ field(**kwargs) }}
    {{ errors_for(field) }}
  </div>
{% endmacro %}

{% macro field_label(field, label=None) -%}
  <label for="{{ field.id }}"{% if field.flags.required %} class="required" title="This field is required"{% endif %}>
    {% if label %}{{ label|e }}{% else %}{{ field.label.text|e }}{% endif %}{% if field.flags.required %}<span>*</span>{% endif %}
    {% if field.flags.optional %}<span class="optional">(optional)</span>{% endif %}
  </label>
{%- endmacro %}

{% macro errors_for(field) -%}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}

{% macro form_errors(form) -%}
  {% if form.errors %}
    <div class="errors">
      {% if form.errors[''] %}
        {{ form.errors[''] }}
      {% else %}
        There were some errors processing the form. Please review the highlighted fields:
      {% endif %}
    </div>
  {% endif %}
{%- endmacro %}
