<!doctype html>
<html lang="en">
    <head>
        <title>Server Error</title>
    </head>
    <body>
        <h1>Server Error</h1>
        <p>Sorry, an error occurred while processing your request.</p>
    </body>
</html>
