{% extends "_includes/html5_base.jinja" %}

{% block body_attr %} class="home"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
    <div class="main">
        <div class="section clearfix">
            <h2>What is Ayden&rsquo;s Law?</h2>
            <div>
                <img src="/static/img/Ayden.png" id="ayden-photo" alt="Photo of Ayden Olson" width="204" height="286">
                <p>
                    On 14 March 2013, 14 year old Ayden Olson took his own
                    life. He&#39;d been bullied to death. Tragically,
                    Ayden&#39;s name is only the latest to be added to a
                    growing list. But while the victims themselves may have
                    found peace, their families are left behind, scarred
                    forever by the agony of losing a child.
                </p>
                <p>
                    Ayden&#39;s Law is a campaign on behalf of all those young
                    people, their families and any child or young person being
                    bullied today.
                </p>
                <p>
                    BeatBullying, The Sun, and families of children like Ayden
                    are calling on the Prime Minister to take action. We
                    want to call a summit with him and relevant ministers to
                    discuss how we can prevent any more tragedies &mdash; and
                    the creation of Ayden&#39;s Law, a new children&#39;s
                    anti-bullying bill designed to stop bullying in our society
                    once and for all.
                </p>
                <p>
                    Read <a href="{{ url_for('letter') }}">our letter to the Prime Minister</a>.
                </p>
            </div>
            <blockquote>
                <h3>Shy Keenan</h3>
                <p>
                    &ldquo;Our wonderful 14 year-old son Ayden died on the 14th of
                    March 2013 - his spirit defeated, he was bullied to death
                    at school and driven... out of pain and despair... to take
                    his own life.
                </p>
                <p>
                    &ldquo;We miss him so much. Our hearts just ache for him and as we
                    try to adjust to a life without him, we have committed to
                    carrying his dreams of bully free schools ahead with
                    Ayden&#39;s Law.&rdquo;
                </p>
            </blockquote>
        </div>
        <div class="section" id="tabbed_section">
            <h2><a href="#default">The Children&rsquo;s Anti-Bullying Bill</a></h2>
            <ul class="tabs">
                <li><a href="#criminal">Justice<br>for victims</a></li>
                <li><a href="#community">Community<br>protection</a></li>
                <li><a href="#gov_action">Government<br>action</a></li>
                <li><a href="#family">Family<br>support</a></li>
            </ul>
            <div id="tabbed-content">
                <div id="default" class="content">
                    <h3>Ayden's Law progress update</h3>
                    <h4>By Anthony Smythe, Managing Director of BeatBullying </h4>
                    <p>BeatBullying has worked tirelessly over the past 10 years to have bullying recognised in legislation by Government. With the help of justice campaigners Shy Keenan and Dr Sara Payne MBE and MP Tracey Crouch, we are thrilled to announce that we have done so.
                    </p>                    
                    <p>Earlier this month, BeatBullying's new anti-bullying campaign, Ayden's Law, received news that it would be included in the Government's newly drafted Anti-social Behaviour, Crime and Policing Bill (ASBO), currently sitting before parliament.</p>                    
                    <p>Tracey Crouch MP proposed amendments to the ASBO, and Home Office Minister Jeremy Browne made the concession. We were able to include key aspects of Ayden's Law into the new ASBO bill, these are:
                    </p>       
                    <ul>
                        <li>A new injunction in the Prevent Nuisance and Disorder Bill (IPNA), which will replace the ASBO and will allow Headteachers to enforce injunctions on bullies. They join police officers, local authorities, housing providers, Transport for London and the Environment Agency who can also legally enforce such measures.</li>
                        <li>A new 'Community trigger' will let members of communities request a review in situations where there have been several complaints about bullying. Community remedies are important because they are civil and not criminal and ensure an alternative to criminal prosecution in the majority of cases.</li>
                    </ul>             
                    <p>Crucially, these developments will reduce current levels of bullying-related criminal prosecutions. It will do this by providing smarter, non-criminal sanctions developed by local professionals who work with children, together with local authorities, schools and police.
                    </p>                    
                    <p>For the person who is bullied, this means their safety will be protected. For the perpetrator it means that services work together to understand why that child is bullying and develop a suitable course of action which will effectively address those behaviours.
                    </p>                    
                    <p>Follow us on Twitter: <a href="https://twitter.com/AydensLaw">@AydensLaw</a>
                    </p>                    
                    <p>
                        Like us on Facebook: <a href="https://www.facebook.com/Beatbullying">BeatBullying</a>
                    </p>
                </div>
                <div class="content" id="criminal">
                    <p>
                        Under Ayden&#39;s Law, bullying and intimidation would
                        be a criminal offence for the first time. If a child
                        was found to be acting in a way that could cause
                        physical or mental harm to another person, they could
                        be charged and prosecuted.  Sentencing would focus on
                        out-of-court measures.
                    </p>
                </div>
                <div class="content" id="community">
                    <p>
                        Under Ayden&#39;s Law, all social workers would be
                        given anti-bullying training as part of their social
                        work qualification. This will give them the skills and
                        confidence they need to work with their community to
                        prevent bullying, provide support for victims of
                        bullying and their families, and work with bullies to
                        address their behaviour.
                    </p>
                </div>
                <div class="content" id="gov_action">
                    <p>
                        A statutory requirement for Government to publish 'A
                        Children and Young People&#39;s Annual Anti-Bullying
                        Strategy for the UK' and for the Prime Minister to report
                        progress to Parliament annually.
                    </p>
                    <p>
                        The strategy to include:
                    </p>
                    <ul>
                        <li>
                            Clear roles and responsibilities for government,
                            local government, communities, schools and internet
                            providers
                        </li>

                        <li>
                            Fully costed measures that enable schools, local
                            authorities and the voluntary and community sector
                            to take forward the strategy
                        </li>
                        <li>
                            Indicators to measure improvement
                        </li>
                    </ul>
                </div>
                <div class="content" id="family">
                    <p>
                        Under Ayden&#39;s Law, all families with a child that
                        persistently bullies and intimidates others would have
                        to take part in a compulsory family intervention
                        programme.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <div class="petition cta box">
            <h2>Sign the Petition</h2>
            <a href="{{ url_for('petition.sign') }}">Click here to sign</a>
        </div>
        <div class="box" id="twitter">
            <h2>Twitter Feed</h2>
            <a class="twitter-timeline" href="https://twitter.com/BeatBullying" data-widget-id="326259399142293505" height="100">Tweets by @BeatBullying</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs1");</script>
        </div>
        <div class="box" id="twitter2">
            <h2>Ayden&rsquo;s Law Twitter Feed</h2>
            <a class="twitter-timeline" href="https://twitter.com/AydensLaw" data-widget-id="326322057346416640" height="100">Tweets by @AydensLaw</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs2");</script>
        </div>
        <div class="box" id="need-help">
            <h2>Need Help?</h2>
            <p class="cta">
                <a href="http://archive.beatbullying.org/"><span class="arrow-right"></span>
                Are you a parent experiencing trauma through bullying of your child?
                Click here to get help</a>
            </p>
            <p class="cta">
                <a href="http://www.beatbullying.org/"><span class="arrow-right"></span>
                Are you a young person that has experienced bullying?
                Speak to someone your age on our site</a>
            </p>
        </div>
    </div>
    <h2 id="tell-your-story">
        <a href="{{ url_for('your_story.tell_me_it') }}" class="cta">Tell Your Story</a>
    </h2>
{% endblock %}
