{% extends "_includes/html5_base.jinja" %}

{% block body_attr %} class="home"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law.{% endblock %}

{% block content %}
    <div id="letter">
        <h2>Our letter to the Justice Secretary</h2>
		<p>Dear Justice Secretary,</p>
		
		<p>On 17 March, justice campaigner and devoted mother Shy Keenan bravely spoke out in an interview with The Sun about 
		the devastating grief her and her family are experiencing following the death of her son, Ayden Olson. 
		Fourteen year old Ayden died after taking an overdose following a prolonged period of vicious bullying 
		at the hands of a group of pupils at his school.</p>
		
		<p>Despite being aware of the torment Ayden was being subjected to, 
		the school does not appear to have acted in a way that made him feel like he was well supported or being listened to. 
		Ultimately he was left in a position where he felt he had no alternative but to take his own life, 
		just days after he had given Shy a loving Mother&#39;s Day Card.</p>
		
		<p>Like Shy, we have all experienced the agony of losing a child. 
		Our families have been irreversibly altered through the loss of a loved one, whose life was being destroyed by bullying. 
		The pain of knowing your child felt so helpless and alone that they saw suicide as their only option is unbearable. 
		Nothing can change what has happened to all our families. But we hope we can stop more families suffering in the same way.</p>
		
		<p>We are urging you to meet with us in a summit to discuss how tragedies like this can be prevented and 
		a new children&#39;s anti bullying bill which would introduce law to protect children like Ayden 
		who become victims of cruel and relentless bullying.</p>
		
		<p>The campaign for Ayden&#39;s Law marks a watershed moment in the anti bullying movement in this country. 
		AYDEN&#39;S LAW WOULD INTRODUCE:</p>
		
		<ol>
			<li>For the first time into law a new criminal offence of bullying and intimidation which would 
			prohibit behaviour that causes physical and mental harm to another child, teacher, professional or member of the public</li>

			<li>Anti bullying training for social workers so that all social workers obtain the skills and 
			confidence to work with their community to prevent bullying, provide support to the victims and their families, 
			and work with the perpetrators to address their bullying behaviour</li>

			<li>A compulsory intervention programme to support families that have a child that persistently bully and 
			intimidate others in school and the wider community</li>

			<li>tbc</li>
		</ol>
		
		<p>42% of secondary schools children in this country have experienced some form of bullying. 
		It may start offline but is often then followed in the online environment, leaving them with no escape. 
		Whilst some of these children will recover from their experience, others, like Ayden, won&#39;t. 
		For our families and the brothers and sisters of those we&#39;ve lost nothing can be the same again. </p>

		<p>On behalf of all children who have experienced bullying, and their families, 
		we are calling on you and your Government to take action to help prevent more people suffering in this way. 
		Together we can stop bullying in our society. Please give us your support and meet with us 
		to discuss how we make bullying unacceptable, once and for all.</p>

	</div>
		
	
{% endblock %}