{% extends "_includes/html5_base.jinja" %}

{% block body_attr %} class="letter"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
	<div class="main">
		<div class="section">
			<h2>Our letter to the PM</h2>
			<p>
				Dear Prime Minister,
			</p>
			<p>
				You will know that when you become a parent the safety and happiness of your child becomes your number one priority. What is hopefully less familiar is the agony of being unable to help your child in the face of remorseless bullying. 
			</p>
			<p>
				Our families have been irreversibly altered through the loss of a child, whose life was destroyed by bullying. The pain of knowing your child felt so helpless and alone that they saw suicide as their only option is unbearable.
			</p>
			<p>
				On 17 March, justice campaigner and devoted mother Shy Keenan bravely spoke out in an interview with The Sun about the devastating grief she and her family are experiencing following the death of her son, Ayden Olson. Fourteen year old Ayden died after taking an overdose following a prolonged period of vicious bullying at the hands of a group of pupils at his school.
			</p>
			<p>
				Despite being aware of the torment Ayden was being subjected to, the school does not appear to have acted in a way that made him feel like he was well supported or being listened to. Ultimately he was left in a position where he felt he had no alternative but to take his own life, just days after he had given Shy a loving Mother's Day Card.
			</p>
			<p>
			   Nothing can change what has happened to Shy and all our families but we hope we can stop more families suffering in the same way. We are urging you to meet with us in a summit to discuss how such tragedies can be prevented through a new Children’s Anti Bullying Bill. The Bill would introduce a law to protect children who become victims of cruel and relentless bullying.
			</p>
			<p>
				The campaign for Ayden&rsquo;s Law marks a watershed moment in the anti bullying movement in this country. AYDEN'S LAW DEMANDS:
			</p>
			<ol>
				<li>
					<strong>justice for victims -</strong> by introducing for the first time into criminal law a new summary offence of bullying and intimidation which would prohibit behaviour that causes physical and mental harm to another child, teacher, professional or member of the public
				</li>
				<li>
					<strong>community protection -</strong> by providing compulsory training for social workers so that they have the skill and confidence to: 
					<ul>
						<li>provide much needed support to victims and their families</li>
						<li>work with perpetrators to address their bullying behaviour</li>
						<li>support their local schools and community in tackling bullying</li>
					</ul>
				</li>
				<li>
					<strong>family intervention -</strong> through a compulsory support programme aimed at parents that have a child that persistently bullies and intimidates others in school and the wider community
				</li>
				<li>
					<strong>Government leadership -</strong> a statutory requirement for Government to publish 'A Children and Young People's Annual Anti Bullying Strategy for the UK' and for the Prime Minister to report progress to Parliament annually<br><br>
				
					The strategy to include:<br><br>
					<ul>
						<li><strong>clear roles and responsibilities</strong> for Government, local Government, communities, schools and internet providers</li>
						<li><strong>fully costed measures</strong> that enable schools, local authorities and the Voluntary and Community Sector to take forward the strategy</li>
						<li>indicators to <strong>measure improvement</strong></li>
					</ul>
				</li>
			</ol>
			<p>
				42% of secondary school children in this country have experienced some form of bullying. It may start offline but is often then followed in the online environment, leaving them with no escape. Whilst some of these children will recover from their experience, others, like Ayden, won't. For our families and the brothers and sisters of those we've lost, nothing can be the same again. 
			</p>
			<p>
				On behalf of all children who have experienced bullying, and their families, we are calling on you and your Government to take action to help prevent more people suffering in this way. Together we can stop bullying in our society. Please give us your support and meet with us to discuss how we make bullying unacceptable, once and for all.
			</p>
			<p>Yours sincerely,</p>
			<p>
				Shy Keenan, mother of <strong>Ayden</strong> (14)<br>
				Peter and Denise Dimmick, parents of <strong>Gemma</strong> (15)<br>
				Michelle Maddox and Susan Morriss, mother and grandmother of <strong>Joshua</strong> (15)<br>
				Kelly Dugmore and Paul Jones, parents of <strong>Aaron</strong> (9)<br>
				Paul and Caroline Vodden, parents of <strong>Ben Vodden</strong> (11)<br>
				Steve and Marie Kirkham, mother of <strong>Hannah</strong> (18)<br>
				Robert and Tracy Mullaney, parents of <strong>Tom Mullaney</strong> (15)<br>
				Andrew MacBryde, father of <strong>Natasha</strong> (15)<br>
				Sandra Thompson, mother of <strong>Thomas</strong> (11)<br>
				Hayley Heffernan, family of <strong>Megan Gillan</strong> (15)<br>
			</p>
			<p>
				co signed by: <strong>Emma-Jane Cross</strong>, CEO and Founder of BeatBullying<br>
				<strong>Victoria Newton</strong>, Editor of The Sun on Sunday<br>
				<strong>Sara Payne</strong>, Sun Justice campaigner<br>
			</p>
		</div>
		<h2 id="tell-your-story">
        <a href="{{ url_for('petition.sign') }}" class="cta">Sign the Petition</a>
    </h2>
	</div>
{% endblock %}
