{% extends '_includes/html5_base.jinja' %}

{% block title %} - Sign the Petition{% endblock %}

{% block body_attr %} class="petition"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
    {% from '_includes/form_macros.jinja' import form_field, form_field_checkbox %}
    <form method="post" action="{{ url_for('petition.sign') }}">{{ form.csrf_token }}
        <fieldset>
            <legend>Show your support for Ayden&rsquo;s Law by signing up below.</legend>
            {{ form_field(form.name) }}
            {{ form_field(form.email) }}
            {{ form_field(form.dob) }}
            {{ form_field(form.address) }}
            {{ form_field(form.town) }}
            {{ form_field(form.postcode) }}
            {{ form_field(form.country) }}
            <div class="field">
                <p>The BB Group will only use your details for the petition and to
                    keep you up to date. We will not give your details to anyone
                    else.
                </p>
            {{ form_field_checkbox(form.opt_out) }}
            </div>
        </fieldset>
        <div class="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
    <div id="sidebar">
        <div id="recent-sigs" class="box">
            <h2>Recent Signatures</h2>
            <ul>
            {% for sig in sigs %}
                <li>{{ sig }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
