{% extends '_includes/html5_base.jinja' %}

{% block title %} - Thanks for Signing{% endblock %}

{% block body_attr %} class="thanks"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
    <div class="main">
        <div class="section">
            <h2>Thanks for signing the Ayden&rsquo;s Law petition.</h2>
        </div>
    </div>
{% endblock %}
