{% extends '_includes/html5_base.jinja' %}

{% block title %} - Thanks for Signing{% endblock %}

{% block body_attr %} class="thanks"{% endblock %}

{% block header_title %}Thanks{% endblock %}

{% block content %}
    <div id="main">
        <div class="section">
            <h2>Thanks for Signing</h2>
            <p>
                Thank you for signing the Ayden&#39;s Law petition.
            </p>
        </div>
    </div>
{% endblock %}
