{% extends '_includes/html5_base.jinja' %}

{% block title %} - Thanks for Signing{% endblock %}

{% block body_attr %} class="thanks"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
    <div class="main">
        <div class="section">
            <h2>Thanks for signing the Ayden&rsquo;s Law petition.</h2>
            <h3>Help spread the word and share the Ayden&rsquo;s Law petition with your friends and followers.</h3>
            <p>
                &ldquo;I've signed the @BeatBullying petition for #AydensLaw to
                help save children's lives.  Have you? Please sign at
                aydenslaw.org&rdquo;
            </p>
            <p>
                <a href="https://twitter.com/share" data-url="http://aydenslaw.org" class="twitter-share-button" data-text="I've signed the @BeatBullying petition for #AydensLaw to help save children's lives. Have you? Please sign at aydenslaw.org" data-size="large" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </p>
            <p>
                <div id="fb-root"></div>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_GB/all.js#xfbml=1";fjs.parentNode.insertBefore(js,fjs);}}(document,'script','facebook-jssdk');</script>
                <div class="fb-like" data-href="http://aydenslaw.org/" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div>
            </p>

        </div>
    </div>
{% endblock %}
