{% extends '_includes/html5_base.jinja' %}

{% block title %} - Thanks for Telling Us Your Story{% endblock %}

{% block body_attr %} class="thanks"{% endblock %}

{% block header_title %}Thanks{% endblock %}

{% block content %}
    <div class="main">
        <div class="section">
            <h2>Thanks for telling us Your Story</h2>
            <p>
                Lorem ipsum est ubique. Quintus pater in agro iuvat. Quondam
                Scintilla cenam parat. Cicero dicit "veni vidi bibi".
            </p>
        </div>
    </div>
{% endblock %}
