{% extends '_includes/html5_base.jinja' %}

{% block title %} - Thanks for Telling Us Your Story{% endblock %}

{% block body_attr %} class="thanks"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
    <div class="main">
        <div class="section">
            <h2>Thanks for sending us Your Story</h2>
            <p>
                We really appreciate your support, the BeatBullying Communications team will be in touch if we have any more questions.
            </p>
        </div>
    </div>
{% endblock %}
