{% extends '_includes/html5_base.jinja' %}

{% block title %} - Tell Us Your Story{% endblock %}

{% block body_attr %} class="your-story"{% endblock %}

{% block header_title %}Ayden&rsquo;s Law{% endblock %}

{% block content %}
 <div class="main">
        {% from '_includes/form_macros.jinja' import form_field %}
        <form method="post" action="{{ url_for('your_story.tell_me_it') }}">

            <fieldset>
                <legend>Tell Us Your Story</legend>
                <div class="section">
                {{ form_field(form.name) }}
                {{ form_field(form.email) }}
                {{ form_field(form.story) }}
                </div>
            </fieldset>
            <div class="submit">
                {{ form.csrf_token }}
                <input type="submit" value="Send us your story">
            </div>
        </form>
</div>
{% endblock %}
